<div class="container">
    <nav class="nav">
        <div class="nav-left">
            <a class="nav-item">
                {{ trans('turnleft.theme.firestarter::addon.name') }}
            </a>
        </div>

        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>

        <div class="nav-right nav-menu">
            <a class="nav-item" href="/">
                {{ trans('turnleft.theme.firestarter::addon.home') }}
            </a>
            <a class="nav-item" href="{{ url_route('anomaly.module.posts::posts.index') }}">
                {{ trans('turnleft.theme.firestarter::addon.posts') }}
            </a>

            {{ structure()
                .view('turnleft.theme.firestarter::macros/pages-structure')
                .macro('turnleft.theme.firestarter::macros/pages-macro')
                .render()|raw }}

            {% if auth_check() %}
                <span class="nav-item">
                    <a class="button" href="{{ url_route('anomaly.module.users::logout') }}">Logout</a>
                </span>
            {% else %}
                <span class="nav-item">
                    <a class="button is-primary" href="{{ url_route('anomaly.module.users::login') }}">Login</a>
                </span>
            {% endif %}
        </div>
    </nav>
</div>
